<!DOCTYPE html>
<html>
<head>
	<title> CustomerHome Page</title>
</head>
<body>
          <a href="/admin/adduser">Add User || </a>
          <a href="/adduser">CustomeraList || </a>
          <a href="/logout">Log Out</a>
          <a href="/cus">Log Out</a>
</body>
</html>