<!DOCTYPE html>
<html>
    <title>
        Registration
    </title>
    <body>
        <h3>Registration as </h3>
        <ul>
            <li><a href="registration/admin">Admin</a></li>
            <li><a href="registration/customer">Customer</a></li>
            
        </ul>
    </body>
</html>